body {
    font-family: 'Raleway', sans-serif;
    /* Sans-serif is default for family.
    If we have some problems with our font,
    html will connect some font for text 
    automaticly*/
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none; 
    /* If you want to delete marks near 
    your links - you have to use this
    property */
}

a {
    text-decoration: none;
    /* This propetry delete underline */
    color:inherit;
    /* For default we have color -weblink-kit, so
    for change it we must input this property */
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    line-height: 60px;
    height: 60px;
    background-color: antiquewhite;

}

/* .logo-container {
    display: flex;
    justify-content: left;
} */

.logo-link {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 0 20px;
}

/* Pseudo-class */
/* nth-child() - searches element in father class*/
/* nth-of-type() -  searches element by TYPE in father class*/
.nav-list li:last-of-type a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: whitesmoke;
    font-weight: bold;
    padding: 0 10px;
    background-color: black;
    border-radius: 3px;
    transition: all 350ms ease;
}

.nav-list li:last-of-type a:hover {
    background-color: white;
    color: black;
}

.nav-list li:last-of-type a svg {
    width: 1em;
    padding-right: 5px;
}

/* Levels of css box
1. Content
2. Padding
3. Border
4. Margin */
/* If you want to contain padding in box size
you should use block-sizing: border-box */

.logo-img {
    width: auto;
    height: 40px;
}